 <%= form_with(model: [@subject, @note] ) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Título' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'Descripción' %>
    <%= form.text_area :content, col: 10, rows: 15, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit button_text_note(@action), class:'btn btn-light' %>
  </div>
  
<% end %>
